<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign in</title>
</head>

<body>
    <div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
        <form action ="" th:attr="action=@{/validate}">
            <label for="employee_id">Employee ID:</label><br>
            <input type="number" id="employee_id" name="employee_id"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Sign in" th:attr="value=#{validate.submit}"/><br>
        </form>
    </div>
</body>
</html>
